*
!.gitignore

# syn/apr tcl files
!TSMC_Controller/
TSMC_Controller/*
!TSMC_Controller/syn/
TSMC_Controller/syn/*
!TSMC_Controller/syn/*.tcl
!TSMC_Controller/apr/
TSMC_Controller/apr/*
!TSMC_Controller/apr/*.tcl
!TSMC_Controller/Makefile
!TSMC_Controller/apr/scripts/
TSMC_Controller/apr/scripts/*
!TSMC_Controller/apr/scripts/*.tcl
!TSMC_Controller/syn/Makefile
!TSMC_Controller/apr/Makefile

!TSMC_SA_array_part/
TSMC_SA_array_part/*
!TSMC_SA_array_part/syn/
TSMC_SA_array_part/syn/*
!TSMC_SA_array_part/syn/*.tcl
!TSMC_SA_array_part/apr/
TSMC_SA_array_part/apr/*
!TSMC_SA_array_part/apr/*.tcl
!TSMC_SA_array_part/Makefile
!TSMC_SA_array_part/apr/scripts/
TSMC_SA_array_part/apr/scripts/*
!TSMC_SA_array_part/apr/scripts/*.tcl
!TSMC_SA_array_part/syn/Makefile
!TSMC_SA_array_part/apr/Makefile

!TSMC_write_back/
TSMC_write_back/*
!TSMC_write_back/syn/
TSMC_write_back/syn/*
!TSMC_write_back/syn/*.tcl
!TSMC_write_back/apr/
TSMC_write_back/apr/*
!TSMC_write_back/apr/*.tcl
!TSMC_write_back/Makefile
!TSMC_write_back/apr/scripts/
TSMC_write_back/apr/scripts/*
!TSMC_write_back/apr/scripts/*.tcl
!TSMC_write_back/syn/Makefile
!TSMC_write_back/apr/Makefile

!TSMC_Shifter/
TSMC_Shifter/*
!TSMC_Shifter/syn/
TSMC_Shifter/syn/*
!TSMC_Shifter/syn/*.tcl
!TSMC_Shifter/apr/
TSMC_Shifter/apr/*
!TSMC_Shifter/apr/*.tcl
!TSMC_Shifter/Makefile
!TSMC_Shifter/apr/scripts/
TSMC_Shifter/apr/scripts/*
!TSMC_Shifter/apr/scripts/*.tcl
!TSMC_Shifter/syn/Makefile
!TSMC_Shifter/apr/Makefile

!TSMC_integration_lzc/
TSMC_integration_lzc/*
!TSMC_integration_lzc/syn/
TSMC_integration_lzc/syn/*
!TSMC_integration_lzc/syn/*.tcl
!TSMC_integration_lzc/apr/
TSMC_integration_lzc/apr/*
!TSMC_integration_lzc/apr/*.tcl
!TSMC_integration_lzc/lib/
TSMC_integration_lzc/lib/*
!TSMC_integration_lzc/lib/*.tcl
!TSMC_integration_lzc/Makefile
!TSMC_integration_lzc/apr/scripts/
TSMC_integration_lzc/apr/scripts/*
!TSMC_integration_lzc/apr/scripts/*.tcl
!TSMC_integration_lzc/syn/Makefile
!TSMC_integration_lzc/apr/Makefile


# rtl files
!TOP/
TOP/*
!TOP/verilog/
TOP/verilog/*
!TOP/verilog/*.sv
!TOP/verilog/*.vh
!TOP/Makefile

!SA_array/
SA_array/*
!SA_array/verilog/
SA_array/verilog/*
!SA_array/verilog/*.sv
!SA_array/Makefile

!SA_array_2/
SA_array_2/*
!SA_array_2/verilog/
SA_array_2/verilog/*
!SA_array_2/verilog/*.sv
!SA_array_2/Makefile

!pooling/
pooling/*
!pooling/verilog/
pooling/verilog/*
!pooling/verilog/*.sv
!pooling/Makefile

!controller/
controller/*
!controller/verilog/
controller/verilog/*
!controller/verilog/*.sv
!controller/Makefile

!SA/
SA/*
!SA/verilog/
SA/verilog/*
!SA/verilog/*.sv
!SA/Makefile



